<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reddit Bot</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>

<div class="entry">
    <h1>Hello, /u/{{user.name}} <a href="{{baseUrl}}/logout">Sign out</a></h1>
    <div id="app">
        <h2>Subreddits you moderate: <button v-on:clicl="fetchModdedSubs">Refresh</button></h2>
        <ol>
            <li v-for="sub in moddedSubs">
                \{{ sub.subreddit }}
            </li>
        </ol>
        <h2>Your mappings: <button v-on:clicl="fetchMappings">Refresh</button></h2>
        <table>
            <thead>
            <tr>
                <th>Repository</th>
                <th>Subreddit</th>
                <th>Author</th>
                <th>Secret</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr is="mapping-item" v-for="mapping in mappings" :mappings="mappings"></tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    Vue.use(VueResource);
    new Vue({
        el: '#app',
        data: {
            moddedSubs: [],
            mappings: [],
        },
        ready: function () {
            this.fetchModdedSubs();
            this.fetchMappings();
        },
        methods: {
            fetchModdedSubs: function () {
                this.$http.get('{{baseUrl}}/settings/modded-subs', function (moddedSubs) {
                    this.$set('moddedSubs', moddedSubs);
                });
            },
            fetchMappings: function () {
                this.$http.get('{{baseUrl}}/settings/existing-mappings', function (mappings) {
                    this.$set('mappings', mappings);
                });
            }
        }
    });
</script>
<script type="text/x-template" id="mapping-item-template">
    <tr>
        <td>\{{ mapping.repo }}</td>
        <td>\{{ mapping.subreddit }}</td>
        <td>\{{ mapping.author }}</td>
        <td>\{{ mapping.secret }}</td>
        <td>Button</td>
    </tr>
</script>

</body>
</html>
