<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reddit Bot</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div class="entry">
    <h1>Hello, /u/{{user.name}} <a href="{{baseUrl}}/logout">Sign out</a></h1>
    <div id="app">
        <h2>Subreddits you moderate: <button v-on:clicl="fetchModdedSubs">Refresh</button></h2>
        <ol>
            <li v-for="sub in moddedSubs">
                \{{ sub.subreddit }}
            </li>
        </ol>
        <h2>Your mappings: <button v-on:clicl="fetchMappings">Refresh</button></h2>
        <table>
            <thead>
            <tr>
                <th>Repository</th>
                <th>Subreddit</th>
                <th>Author</th>
                <th>Secret</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr is="mapping-item" v-for="mapping in mappings" :mappings="mappings"></tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            moddedSubs: [],
            mappings: [],
        },
        mounted: function () {
            this.fetchModdedSubs();
            this.fetchMappings();
        },
        methods: {
            fetchModdedSubs: function () {
                console.log('123');
                var self = this;
                var xhr = new XMLHttpRequest();
                xhr.open('{{baseUrl}}/settings/modded-subs');
                xhr.onload = function () {
                    self.moddedSubs = JSON.parse(xhr.responseText)
                };
                xhr.send();
            },
            fetchMappings: function () {
                console.log('321');
                var self = this;
                var xhr = new XMLHttpRequest();
                xhr.open('{{baseUrl}}/settings/existing-mappings');
                xhr.onload = function () {
                    self.mappings = JSON.parse(xhr.responseText)
                };
                xhr.send();
            }
        }
    });
</script>
<script type="text/x-template" id="mapping-item-template">
    <tr>
        <td>\{{ mapping.repo }}</td>
        <td>\{{ mapping.subreddit }}</td>
        <td>\{{ mapping.author }}</td>
        <td>\{{ mapping.secret }}</td>
        <td>Button</td>
    </tr>
</script>

</body>
</html>
