<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reddit Bot</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="entry">
    <h1>Hello, /u/{{user.name}} <a href="{{baseUrl}}/logout">Sign out</a></h1>
    <div id="app">
        <h2>Subreddits you moderate:
            <button v-on:click="fetchModdedSubs">Refresh</button>
        </h2>
        <ol>
            <li v-for="sub in moddedSubs">
                \{{ sub.subreddit }}
            </li>
            <li><input v-model="subInput" placeholder="edit me">
                <button v-on:click="addSub">Add</button>
            </li>
        </ol>
        <h2>Your mappings:
            <button v-on:click="fetchMappings">Refresh</button>
        </h2>
        <table>
            <thead>
            <tr>
                <th>Repository</th>
                <th>Subreddit</th>
                <th>Author</th>
                <th>Secret</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr is="mapping-item" v-for="mapping in mappings" :mapping="mapping"></tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    Vue.component('mapping-item', {
        template: '#mapping-item-template',
        props: ['mapping'],
    });
    new Vue({
        el: '#app',
        data: {
            moddedSubs: [],
            subInput: '',
            mappings: [],
        },
        created: function () {
            this.fetchModdedSubs();
            this.fetchMappings();
        },
        methods: {
            fetchModdedSubs: function () {
                var self = this;
                axios.get('/settings/modded-subs').then(function(response) {
                    self.moddedSubs = response.data;
                });
            },
            addSub: function () {
                var self = this;
                axios.put('/settings/modded-subs', {subreddit: self.subInput})
                        .then(function() {
                            self.fetchModdedSubs()
                        })
                        .catch(function(error) {
                            console.error(error.message);
                        });
            },
            fetchMappings: function () {
                var self = this;
                axios.get('/settings/existing-mappings')
                        .then(function(response) {
                            self.mappings = response.data;
                        });
            }
        },
    });
</script>
<script type="text/x-template" id="mapping-item-template">
    <tr>
        <td>\{{ mapping.repo }}</td>
        <td>\{{ mapping.subreddit }}</td>
        <td>\{{ mapping.author }}</td>
        <td>\{{ mapping.secret }}</td>
        <td>Button</td>
    </tr>
</script>

</body>
</html>
